<nav class="navbar navbar-expand-lg navbar-light" style="background-color: white;">
    <div class="container align-items-center">
        <div class="row d-flex align-items-center RowClassTop">

            
            <div class="col-auto col-sm-8">
                <a class="navbar-brand logo" routerlink="/" href="/">
                    <img alt="" class="img"  src="/images/logo.PNG">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="  col-auto col-sm-4 collapse navbar-collapse  " id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link item-prop" href="#">Acceuil</a>
                    </li>
                    
                    <li class="nav-item aboutUs" routerLinkActive="active">
                        <a class="nav-link item-prop" href="#">À propos</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link item-prop" href="login-page" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Connexion
                            <i class="fas fa-caret-down"></i>
                        </a>
                        <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" id="login"> <i class="ri-login-box-line"></i>
                                    <span>Sign in</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerlink="#" href="#">
                                    <i class="ri-user-add-line"></i>
                                    <span>Register</span>
                                </a>
                            </li>
                        </ul> -->
                    </li>
                    
                    

                </ul>

            </div>

        </div>
    </div>
</nav>