<footer class="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="footer-col col-lg-2 col-md-3 col-xs-12">
            <!-- <a class="navbar-brand logo" routerlink="/" href="/">
              <img alt="" class="img" src="/images/logo.PNG">
            </a> -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
          <div class="footer-col col-lg-7 col-md-5 col-xs-12 ">
            <ul class="page-links d-flex align-items-center justify-content-center">
              <li class="item"><a href="#">Acceuil</a></li>
              <li class="item"><a href="#">À propos</a></li>
              <li class="item"><a href="#">Nos Services</a></li>
              <li class="item"><a href="#">Contact</a></li>
            </ul>
          </div>
          <div class="footer-col col-lg-3 col-md-4 col-xs-12">
            <div class="social-links">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-youtube"></i></a>
              <!-- <a href="#"><i class="fab fa-tel"></i></a>
              <a href="#"><i class="fab fa-email"></i></a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="footer-battom">
        <div class="row padding-footer">
          <a id="Copyright">
            Copyright © 2024 All Rights Reserved by CapDirect.
          </a>
        </div>
      </div>
   
  </footer>
