html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Empêche le défilement global */
}

.dashboard-container {
  display: flex;
  height: 100vh; /* Occupe la totalité de la fenêtre */
}

.sidebar {
  width: 250px;
  background-color: #333;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; /* Hauteur de la barre latérale alignée avec le conteneur */
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.user-icon {
  width: 20px;
  height: 26px;
  border-radius: 50%;
  margin-right: 15px;
}

.user-name {
  font-size: 18px;
  font-weight: bold;
}

.nav-links ul {
  list-style: none;
  padding: 0;
}

.nav-links li {
  margin: 10px 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-links a:hover {
  text-decoration: underline;
}

.main-content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto; /* Défilement interne pour éviter le débordement global */
  height: 100%; /* Fixe la hauteur pour correspondre au conteneur */
}

.status-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

.status-indicator {
  display: flex;
  align-items: center;
}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.red {
  background-color: rgb(0, 255, 149);
}

.status-text {
  font-size: 16px;
  font-weight: bold;
  color: rgb(0, 255, 149);
}

.clock {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}

.clock mat-icon {
  margin-right: 5px;
}

.collaborators-count {
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  color: #333;
}

.live-video {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.live-stream {
  width: 100%;
  height: 60vh; /* Ajuster la hauteur de la vidéo */
  border: none;
  border-radius: 8px;
}

.live-badge {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: red;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 4px;
}

.transcription-info {
  margin-top: 10px;
}

.transcription-info textarea {
  width: 100%;
  height: 60px;
  margin-top: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.audio-wave {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.audio-icon {
  font-size: 24px;
  margin-right: 10px;
  color: #4caf50; /* Couleur verte pour l'icône audio */
}

.audio-sections {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.section {
  flex: 1;
  height: 10px;
  margin: 0 2px;
  background-color: #4caf50; /* Couleur verte */
}

.section.green {
  background-color: #4caf50;
}
.subtitle-display {
  position: absolute; /* Position absolue pour placer en bas de la vidéo */
  bottom: 30px; /* Espace au bas de la vidéo */
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6); /* Fond noir semi-transparent */
  padding: 10px;
  border-radius: 5px;
  max-width: 90%; /* Limite la largeur du texte */
  margin: 0 auto;
  font-family: Arial, sans-serif;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4); /* Légère ombre pour plus de lisibilité */
  line-height: 1.4; /* Espacement pour une meilleure lisibilité */
}

.audio-wave-container {
  width: 100%; /* Largeur de la barre complète */
  height: 20px;
  background-color: #ddd; /* Couleur de fond */
  position: relative;
  margin: 10px 0;
  border-radius: 5px;
  overflow: hidden;
}

.audio-wave {
  height: 100%;
  width: 0; /* Commence à 0%, sera mis à jour dynamiquement */
  background-color: #4caf50; /* Couleur de l'onde */
  transition: width 1s linear; /* Animation fluide */
}
textarea {   
   display: inline-block;   
    border: inset 1px gray;    
    white-space: pre-wrap;    
    width: attr(cols, ex, 10em);    
    height: attr(rows, em);    
    overflow: hidden
  }

  .c-button {  
    position: relative;  
    background: none;  
    border: 1px solid transparent;  
    padding: 0;  display: inline-flex;  
    align-items: center;  
    justify-content: center;  
    min-height: 3rem;  
    padding: 0 2.4rem;  
    font-size: 1.6rem;  
    font-weight: 600;  
    text-align: center;  
    color: #1a1a1a;  
    user-select: none;  
    cursor: pointer;  
    text-decoration: none;  
    box-sizing: border-box;  /* Remove IOS Style */  
  }
    .c-button--primary {  
      background-color: #1a1a1a;  
      --text-color: #fff;  
      color: var(--text-color);  
      border-radius: 100rem;  
      text-decoration: none;
    }
    .c-input, input.c-input { 
      width: 90%; 
      min-height: 4.8rem;
      border-radius: 1.2rem !important; 
      padding: 0 1.6rem; 
      border: 1px solid #aca3a0 !important; 
      font-size: 1rem; 
      font-weight: 600; 
      background-color: #fff; 
      text-align: left; 
    }
    .widthText{
      width: 50% !important;
      padding: 10px;
    }
    .c-button--sm {
       min-height: 3.2rem; 
       padding: 0 1.6rem; 
       font-size: 1rem; 
      }
      ul{
        list-style-type: none;
        padding-left: 0 !important;
      }
      .icon-size{
        height: 26px;
      }