<section class="hero d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 text-content d-flex flex-column pt-4 pt-lg-0">
          <div class="TextBanner">Offrez <span>une expérience</span> de streaming accessible <span>en direct!</span></div>
          <p class="BannerText">Avec notre application, vos vidéos en direct sont instantanément sous-titrées grâce à nos transcripteurs experts, rendant chaque moment de votre contenu compréhensible et inclusif pour tous les spectateurs.</p>
          <div class="ButtonExplore">
            <a href="/login-page" class="primary-button">Commencer</a>
          </div>
        </div>
        <div class="col-lg-6 image-content">
          <img alt="Streaming" class="img-fluid animated" src="/images/acceuil_img.png">
        </div>
      </div>
    </div>
  </section>
