<div class="login-container">
  <h2>Veuillez vous connecter</h2>
  <form (ngSubmit)="onLogin()" #loginForm="ngForm">
    <div class="form-group">
      <input
        type="email"
        placeholder="Email"
        name="email"
        [(ngModel)]="email"
        required
      class="c-input c-input_login"/>
    </div>
    <div class="form-group">
      <input
        type="password"
        placeholder="Mot de passe"
        name="password"
        [(ngModel)]="password"
        class="c-input c-input_login" required
      />
    </div>
    <button type="submit" class="c-button c-button--primary widthText" [disabled]="!loginForm.valid">
      Se connecter
    </button>
    <button type="button" class="c-button c-button--secondary widthText" (click)="onRegister()">
      S'inscrire
    </button>
  </form>
</div>

<!-- Popup d'erreur -->
<div *ngIf="showErrorPopup" class="popup-error">
  <p>{{ errorMessage }}</p>
  <button (click)="closePopup()">Fermer</button>
</div>
